#gameCanvas {
    width: 100%;
    height: 100%;
    border: 5px solid white; /* Set the border width and color */   
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Add a glowing effect */
    background-color: rgb(30, 30, 30); /* Optional: Set a background color */
}

#gameArea {
    border-style: solid;
}

#controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

#controls button {
    width: 100px;
    height: 50px;
    background-color: rgb(18, 14, 14);
    color: white;
    border-style: solid;
    border-color: white;
    box-shadow:inset 0 0 10px rgba(255, 255, 255, 0.5);
    font-family: 'VCR OSD Mono', monospace;
    font-size: 16px;
    cursor: pointer;
}

#controls button:hover {
    background-color: rgb(30, 30, 30);
    box-shadow:inset 0 0 20px rgba(255, 255, 255, 0.5);
}

#controls button:active {
    background-color: rgb(53, 2, 2);
    box-shadow:inset 0 0 5px rgba(255, 255, 255, 0.5);
}