{% extends "index.html" %}

{% block content %}
<audio id="gameplayAudio" src="{{ url_for('static', filename='audio/8_bit_retro_forest.mp3') }}" loop autoplay></audio>
<audio id="gameOverAudio" src="{{ url_for('static', filename='audio/game_over.mp3') }}"></audio>
<audio id="winnerAudio" src="{{ url_for('static', filename='audio/winner.mp3') }}"></audio>

<div id="gameArea" style="display: none;">
    <canvas id="gameCanvas" width="1000" height="500" style="border:1px solid #000000;"></canvas>
    <div id="controls" style="text-align: center; margin-top: 10px;">
        <button onclick="moveHunter('up')">Up</button><br>
        <button onclick="moveHunter('left')">Left</button>
        <button onclick="moveHunter('down')">Down</button>
        <button onclick="moveHunter('right')">Right</button><br>
        <button onclick="shootHunter()">Shoot</button>
        <div id="ammoCounter" style="margin-top:10px;">Ammo: <span id="ammoValue"></span></div>
    </div>
</div>


<div class="brief_intro" id="precautionScreen" style="display: block;">
    <h1>Precaution</h1>
    <p>Ensure you are in a safe environment while playing. Avoid distractions and focus on the game.</p>
    <button class="nextButton" id="precautionNext" autofocus onclick="showInstructions()">Next</button>
</div>

<div class="brief_intro" id="instructionsScreen" style="display: none;">
    <h1>Instructions</h1>
    <p>Use W, A, S, D or buttons on the screen to move the hunter. Press SPACE to shoot. Avoid any entities/hazards while exploring the maze.</p>
    <button class="nextButton" id="instructionsNext" onclick="showStory()">Next</button>
</div>

<div class="brief_intro" id="storyScreen" style="display: none;">
    <h1>Story</h1>
    <p>You are a hunter trapped in a mysterious maze. Your goal is to find and defeat the Wumpus lurking in the shadows. Be careful, as the maze is full of dangers!</p>
    <button class="nextButton" id="storyNext" onclick="startGame()">Start Game</button>
</div>

<script>
  // Inject variables from Flask to JavaScript
  const gameConfig = {
    hunterAmmo: {{ hunter_ammo }},
    visionRadius: {{ vision_radius }},
    wumpusSpeed: {{ wumpus_speed }},
    wumpusAggressive: "{{ wumpus_aggressive }}",
    difficulty: "{{ difficulty }}",
    multiplier: {{ multiplier_ }}
  };
</script>
<script src="{{ url_for('static', filename='js/gameplay.js') }}">
    
</script>
{% endblock %}