<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='alerts.css') }}"/>
    <meta charset="UTF-8" />
    <title>Hunt the wumpus 2D</title>
</head>

<body>
    <h1 id="pageTitle">Hunt the Wumpus</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
            <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
            </div>
        {% endfor %}
        {% endif %}
    {% endwith %}

    <audio id="backgroundAudio" autoplay loop>
        <source src="{{ url_for('static', filename='audio/8_bit_menu.mp3') }}" type="audio/mpeg">
    </audio>

    <script>
        const audio = document.getElementById('backgroundAudio');
        audio.loop = true; // Ensure looping
        audio.play().catch(error => {
            console.log("Autoplay blocked. User interaction required.");
        });
    </script>

    {% block content %} {% endblock %}
</body>
</html>