{% extends "index.html" %}

{% block content %}
<div id="contentArea">
   <form id="loginForm" method="post" action="/login_submit">
    <h2>Login</h2>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit" value="Login" id="loginButtonSubmit">Login</button>
    <p>Don't have an account?</p>
    <button id="signupButton" onclick="loadPage('{{ url_for('signup') }}')">Signup</button>
  </form>
  {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                      <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
</div>
{% endblock %}
